{% extends 'base.html.twig' %}

{% block body %}
   <nav>
    <div class="nav-wrapper container connect-page-menu">
    <div class="logo-menu">Materialize</div>
        <div class="need-menu">
            <a href="http://materializecss.com">OK Djingo, j’ai besoin de toi !</a>
        </div>
      <div class="user-menu"><a href="#">John Doe</a></div>
    </div>
  </nav>


  <div class="section no-pad-bot djingo-bg" id="index-banner">
    <div class="container">
      <div class="header app">Djingo</div>
      <div class="header app-name">Connect+</div>
     
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row-home">
        <div class="col up-to-top">
          <div class="icon-block">
            <div><img src="img/pictos/accompagnement.png" class="accompagnement"></div>
            <h5 class="center title">Accompagnement scolaire</h5>
          </div>
        </div>

        <div class="up-to-top">
          <div class="icon-block">
            <div><img src="img/pictos/veille.png" class="veille"></div>
            <h5 class="center title">Veille parental</h5>
          </div>
        </div>

        <div class="col up-to-top">
          <div class="icon-block">
            <div><img src="img/pictos/parametre.png" class="parametre"></div>
            <h5 class="center title">Paramètre Djingo</h5>
          </div>
        </div>
      </div>

    </div>


    <br><br>
  </div>



<div class="section bg-orange" id="index-banner">
    <div class="container agenda-container">

        <div class="agenda-block">
          <h3>Agenda</h3>
          <div class="day-block">
            <span class="day">Lundi</span>
            <span class="prog">Contrôle d’histoire</span>
            <span class="prog">Devoir Maison de français</span>
          </div>

          <div class="day-block">
            <span class="day">Mardi</span>
            <span class="prog">Interro de maths</span>
          </div>

          <div class="day-block">
            <span class="day">Mercredi</span>
            <span class="prog">Revisions d’anglais</span>
          </div>
        </div>

        <div class="calendar-block">
          <div id="calendarTitle"></div>
          <div id="calendarContainer"></div>
        </div>

    </div>
</div>




<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="rappel-restrict-container">
        <div class="col rappel-block">
          <div >
            <h3 class="center" >Rappels</h3>
            <span class="cours">Cours de judo à 18h</span>
            <span class="trajet">Prévoyez 20mn pour le trajet</span>
            <a href="#" class="rappel-bouton">Rappel à 17h20</a>
            <hr>
            <button class="plus-bouton"></button>
          </div>
        </div>

        <div class="col restrict-block">
          <div >
            <h3 class="center">Restrictions internet</h3>
            <div class="period">
              <div class="semaine">SEMAINE</div>
              <div class="weekend">WEEKEND</div>
            </div>
            <div class="range-slider">

              <input value="7" min="0" max="24" step="1" disabled type="range"/>
              <input value="18" min="0" max="24" step="1" disabled type="range"/>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>



  <div class="section bg-blue" id="index-banner">
    <div class="container note-container">

        <div class="note-left-block ">
          <h3>Les dernières notes de Nicolas</h3>

          <div class="button-block">
            <a href="#">Accéder aux notes</a>
          </div>
        </div>

        <div class="note-right-block ">
          <div class="top-note">
            <div class="note-block">
              <div class="note">16</div>
              <div class="matiere">Géographie</div>
            </div>   
          </div>

          <div class="bottom-note">
            <div class="note-block">
              <div class="note">16</div>
              <div class="matiere">Géographie</div>
            </div> 

            <div class="note-block">
              <div class="note">16</div>
              <div class="matiere">Géographie</div>
            </div>   
          </div>


        </div>

    </div>
</div>




  <footer class="connect-page-footer">
      <div class="container connect-page-footer-container">
        <div class="logo-footer">Materialize</div>
        <div class="link-footer">
          <div>
            <a class="white-text text-lighten-3" href="http://materializecss.com">@Hackathon 2018</a>
            <a class="white-text text-lighten-3" href="http://materializecss.com">Mentions Légales</a>
            <a class="white-text text-lighten-3" href="http://materializecss.com">Confidentialité</a>
          </div>
        </div>
        <div class="social-footer"><img src="img/pictos/fb.png" width="25px" height="25px"></div>
      </div>
  </footer>
{% endblock %}
